.recipes{
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
    grid-auto-rows: 200px;
    grid-gap: var(--grid-gap); 
    margin: auto;
    margin-top: 40px;
}