.user_dialog{
    width: 800px;
    max-width: 90vw;
    max-height: 90vh;
    height: fit-content;
    border:none;
    &::backdrop{
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }


}